<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <a href="/shows">Go Back</a>
    <h1>Add a New Show</h1>
    <form action="/shows/create" method="post">
        {% csrf_token %}
        <h4>title</h4>
        <input type="text" name="title"><br>
        <label>Network <br> <input type="text" name="network"></label> <br>
        <label>Release Date <br> <input type="date" name="date"></label>
        <h4>Description</h4>
        <textarea name="description" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Create">
    </form>
</body>

</html>