<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(one)</title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>TV Show {{show.id}}</h1>
    <ul>
        <li>Title : {{show.title}}</li>
        <li>Network : {{show.network}}</li>
        <li>Release Date : {{show.release_date}}</li>
        <li>Description : {{show.description}}</li>
    </ul>

<p>Last Update : {{show.updated_at}}</p>

<a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/destroy">Delete</a>
</body>
</html>